.openid-btn {
  display: inline-block;
  width: 191px;
  height: 46px;
  background-image: url('images/openid-signing.png');
  background-repeat: no-repeat;
}

.openid-btn:hover {
  background-position: 0px -46px;
}

.openid-btn:active {
  background-position: 0px -92px;
}
